body {
  padding: 0;
}

.container {
  display: flex;
  position: absolute;
  align-items: center;
  align-self: center;
  max-height: 30rem;
}

.modal {
  display: flex;
  align-items: center;
  align-self: center;
  background-color: #111827;
  border: 2px solid black;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.modal-body {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.modal-title {
  align-items: center;
  align-self: center;
  color: aqua;
  font-size: 4vh;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
}

button.close {
  color: red;
  border-radius: 200px;

  font-size: large;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  border: 1rem solid black;
}

/* .img-container::before {
  content: "Alegeti etajul preferat";
  display: block;
  flex-direction: column;
  color: red;
  font-size: 2vh;
  width: 100%;
  height: 2em;
  background-color: black;
} */

.img-mapper-map {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.img-mapper-img {
  object-fit: cover;
  position: relative;
  border: 2px solid black;
}

.img-mapper-canvas {
  display: flex;
  align-items: center;
  max-width: 700px;
  align-self: center;
}
.first {
  display: flex;
  align-items: center;
  align-self: center;
  padding: 20rem;
}
